USE [master]
GO
/****** Object:  Database [NegozioDiMusica]    Script Date: 18/03/2022 14:52:52 ******/
CREATE DATABASE [NegozioDiMusica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NegozioDiMusica', FILENAME = N'C:\Users\Francesca\NegozioDiMusica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NegozioDiMusica_log', FILENAME = N'C:\Users\Francesca\NegozioDiMusica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NegozioDiMusica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NegozioDiMusica]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 18/03/2022 14:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[IDAlbum] [int] IDENTITY(1,1) NOT NULL,
	[Titolo] [varchar](100) NOT NULL,
	[AnnoUscita] [int] NOT NULL,
	[CasaDiscografica] [varchar](300) NOT NULL,
	[Genere] [varchar](50) NULL,
	[Supporto] [varchar](50) NULL,
	[IDBand] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNQ_Unicita] UNIQUE NONCLUSTERED 
(
	[Titolo] ASC,
	[AnnoUscita] ASC,
	[CasaDiscografica] ASC,
	[Genere] ASC,
	[Supporto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Band]    Script Date: 18/03/2022 14:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Band](
	[IDBand] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[NumeroComponenti] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brano]    Script Date: 18/03/2022 14:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brano](
	[IDBrano] [int] IDENTITY(1,1) NOT NULL,
	[Titolo] [varchar](100) NOT NULL,
	[Durata] [float] NOT NULL,
	[IDBand] [int] NOT NULL,
 CONSTRAINT [PK_Brano] PRIMARY KEY CLUSTERED 
(
	[IDBrano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranoAlbum]    Script Date: 18/03/2022 14:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranoAlbum](
	[IDBrano] [int] NOT NULL,
	[IDAlbum] [int] NOT NULL,
 CONSTRAINT [PK_BranoAlbum] PRIMARY KEY CLUSTERED 
(
	[IDBrano] ASC,
	[IDAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Band] FOREIGN KEY([IDBand])
REFERENCES [dbo].[Band] ([IDBand])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Band]
GO
ALTER TABLE [dbo].[Brano]  WITH CHECK ADD  CONSTRAINT [FK_BranoBand] FOREIGN KEY([IDBand])
REFERENCES [dbo].[Band] ([IDBand])
GO
ALTER TABLE [dbo].[Brano] CHECK CONSTRAINT [FK_BranoBand]
GO
ALTER TABLE [dbo].[BranoAlbum]  WITH CHECK ADD  CONSTRAINT [FK_ALbum] FOREIGN KEY([IDAlbum])
REFERENCES [dbo].[Album] ([IDAlbum])
GO
ALTER TABLE [dbo].[BranoAlbum] CHECK CONSTRAINT [FK_ALbum]
GO
ALTER TABLE [dbo].[BranoAlbum]  WITH CHECK ADD  CONSTRAINT [FK_Brano] FOREIGN KEY([IDBrano])
REFERENCES [dbo].[Brano] ([IDBrano])
GO
ALTER TABLE [dbo].[BranoAlbum] CHECK CONSTRAINT [FK_Brano]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [CHK_Genere] CHECK  (([Genere]='Classico' OR [Genere]='Pop' OR [Genere]='Jazz' OR [Genere]='Metal' OR [Genere]='Rock'))
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [CHK_Genere]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [CHK_Supporto] CHECK  (([Supporto]='CD' OR [Supporto]='Vinile' OR [Supporto]='Streaming'))
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [CHK_Supporto]
GO
USE [master]
GO
